* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(images/1688052928402.jpg);
  background-position: center;
  background-size: cover;
}
.main {
  text-align: center;
  font-size: 100px;
  font-family: "Cormorant Infant", serif;
  font-weight: bold;
  font-family: "Cormorant Infant", serif;
  margin-top: 8%;
  /* padding: 2%; */
  opacity: 75%;
  color: rgb(153, 55, 153);
}
#linebreak {
  display: block;
  margin-bottom: 6em;
}

#Farmerbutton {
  align-items: center;
  background-color: transparent;
  font-size: 90px;
  border-style: solid;
  border-width: 5px;
  border-radius: 20%;
  color: rgb(153, 55, 153);
  margin-left: 15%;
}

#Buyerbutton {
  align-items: center;
  background-color: transparent;
  font-size: 90px;
  margin-left: 10%;
  border-style: solid;
  border-width: 5px;
  border-radius: 20%;
  color: rgb(153, 55, 153);
}

#link {
  color: rgb(153, 55, 153);
  text-decoration: none;
}

#link:hover {
  color: rgb(155, 248, 4);
  border-radius: 20%;
  border-style: outset;
  border-color: rgb(155, 248, 4);
  font-weight: bolder;
  border-width: 4px;
}
